<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" href="#">Sample app</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/help">Help</a></li>
        {% if current %}
        <li><a href="/#">Users</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/users/{{ current.id }}">Profile</a></li>
            <li><a href="/#">Settings</a></li>
            <li class="divider"></li>
            <li>
              <a data-confirm="Are you sure?"
                 data-method="delete"
                 href="/logout"
                 rel="nofollow">Log out</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
