{% extends "layouts/default.html" %}
{% block title %} All Users {% endblock %}
{% block content %}
<h1>All Users</h1>

<ul class="users">
  {% for user in users %}
  <li>
    <img src="https://secure.gravatar.com/avatar/{{ user.email }}?s=50"
         class="gravatar">
    <a href="/users/{{ user.id }}">{{ user.name }}</a>
    {% ifnotequal current user.id %}
      {{ if user.admin }}
      | <a href="/users/{{ user.id }}" data-confirm="You sure?" data-method="delete">delete</a>
      {{ endif }}
    {% endifnotequal %}
  </li>
  {% endfor %}
</ul>

<a class="page-link" href="/users?page={{ next-page }}">>Next</a>

{% endblock %}
